<h1 style="margin-left:50px;">Edit Project</h1>
<script>
$(document).ready(function(){
       $("#sbmt3 input").click(function(e)
         {           
          x =  $("#pitem_pname").val();            
          if (( x==null || x==""))
              {
                alert("There have to be some text");
                e.preventDefault(); 
              }
          else{
                $("#new_pitem").submit();
              } 
          });
      });
</script>
<%= form_for @pitem do |f| %>
<table style="margin-left:50px;">
<tr>
  <td>Name:&nbsp;</td>
  <td><%= f.text_field :pname%></td>
</tr>
<tr style="margin-left:500px;">
  <td><%= link_to "Cancel",:back %></td>
  <td id="sbmt3"><%= f.submit "Save"%></td>
</tr>
</table>
<% end %> 
</div>
