<div align="center">
<h1 align="left" style="margin-left:450px;">Edit Project</h1>
<%= form_for @pitem do |f| %>
<p>Name:&nbsp;<%= f.text_field :pname %></p>
<p align="left" style="margin-left:500px;"><%= f.submit "Save"%></p>
<% end %> 
</div>
