<script>
$(document).ready(function(){   
       $("#sbmt1 input").click(function(e)
         {           
          x =  $("#pitem_pname").val();            
          if (( x==null || x==""))
              {
                $("#l").show();
                e.preventDefault(); 
              }
          else{
                $("#new_pitem").submit();
              } 
          });
       $("#pitem_pname").click(function()
       {
          $("#l").hide();
        });
      });
</script>

<h1 style="margin-left:50px;">Create new Project</h1>
<%= form_for @pitem do |f| %>
<table style="margin-left:50px;" >
<tr>
   <td>Name:&nbsp;</td>
   <td><%= f.text_field :pname %><span id="l">There have to be some text</span></td>
</tr>
<tr>
   <td><%= link_to "Cancel",:back %></td>
   <td id="sbmt1"><%= f.submit "Create"%><td>
</tr>
</table>
<% end %>
